.select2-selection__choice, .select2-selection__choice__remove{
    background-color: #0c525d !important;
    border: none !important;
}
.mt-10 {
    margin-top: 10px;
}
.content {
    padding: 15px .5rem;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da;
    padding: .46875rem .75rem;
    height: calc(2.25rem + 2px) !important;
}
